*{
    margin: 0 ;
    padding: 0 ;
}
/*--------Navigation--------*/
#nav-bar
{
    position: sticky ;
    top: 0 ;
    z-index: 10 ;
}

.navbar-brand img 
{
    height: 70px ;
    padding-left: 30px ;
}
.navbar-nav li
{
    padding: 0 10px ;
    
}

.infobox{
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px black;
    background-color: #c0c0c0;
}

.doctor1 img{
    height: 400px;
}

.navbar-nav li a
{
   float: right;
    text-align: left;
    
}

#nav-bar ul li a:hover
{
    color: #007bff!important
}
.navbar 
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
  color: #555!important;
    font-weight: 600;
    font-size: 16px;
    
}

.cardpage
{
    text-align: center;
    color:black ;
    font-size: 42px ;
    font-weight: bold;
    margin-bottom: 15px;
    
}


.footer{
    margin-top: 150px;
    background-color: #c0c0c0;
    text-align: center;
}

.contacts
{
   
    padding-bottom: 20px;
}
.contacts img{
    width: 70px;
    cursor: pointer;
padding-top: 2px;
}


.footer h5{
    margin-bottom: 15px;
}

.footer h5::before{
    content: '';
    width: 49px;
    height: 3px;
    background: #4f74e8;
    top: 25px;
    position: absolute;

}
.col-md-6
{
    background-color: #c0c0c0; 
}




